<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Pi Dashboard - Home</h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <!--General Pi Information-->
      <div class="row row-margin centered">
        <div class="col-md-12">
          <em>All the information shown on this dashboard is updated on the host every 1 minute.</em>
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-md-4">
          Pi Name: <div data-bind="text: deviceName()"></div>
        </div>
        <div class="col-md-4">
          Space left: <div data-bind="text: spaceText()"></div>
        </div>
        <div class="col-md-4">
          Host Uptime: <div data-bind="text: hostUpTime()"></div>
        </div>
      </div>

      <!--Bluetooth information-->
      <div class="row row-margin">
        <div class="col-md-4">
          Bluetooth Active: <div data-bind="text: btDeviceStatus()"></div>
        </div>
        <div class="col-md-4">
          Connected Device: <div data-bind="text: connectedDevice()"></div>
        </div>
        <div class="col-md-4">
          Bluetooth Connection Uptime: <div data-bind="text: btConnectionTime()"></div>
        </div>
      </div>

      <!--Audio Stream Info-->
      <div class="row row-magin">
        <div class="col-md-4">
          Playing Stream: No.
        </div>
        <div class="col-md-4">
          Favourite Stream Count: 0.
        </div>
      </div>
    </div>
  </div>
</div>
